<h1>New Game</h1>

<div class="letters">
  <% @letters.each do |letter| %>
    <div class="letter">
      <%= letter %>
      </div>
  <% end %>
  </div>

  <h5>what the longest word you can find :</h5>

<form action="/score" method="post" data-turbo="false">
  <input type="text">
  <input placeholder="Play" type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
