.letters{
display: flex;
}

.letter{
  border: solid 1px blue;
  font-size: 30px;
  margin: 5px;
  background-color: rgb(140, 140, 233);
  color: white;
  width: 40px;
  height: 40px;
  justify-content: center;
  text-align: center;
}
